body{
    background-image: url(https://1.bp.blogspot.com/-yWHfWQ7WyPo/XumBx6sizdI/AAAAAAAAT0s/Mv1ZxakH9zU0IdUUec_INdWuSoRu-OJzACK4BGAsYHg/w1200-h675-p-k-no-nu/black-wallpaper-pc-heroscreen.cc-4k.png);
    background-size: cover;
}

.info{
    color: rgb(255, 255, 255);
    padding-left: 20%;
    padding-top: 10%;
    font-family: monospace;
    font-size: large;
}